<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Product Display</title>
    <!-- Include Tailwind CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="./products.js"></script>
</head>

<body class="bg-gray-100">
    <nav class="bg-blue-500 text-white p-4 flex justify-between items-center">
        <div>
            <a href="/" class="text-xl font-semibold">Home</a>
        </div>
        <div>
            <a href="/transactions" class="mr-4">Transactions</a>
            <a href="#" id="logoutBtn" class="mr-4">Logout</a>
        </div>
    </nav>
    <!-- Loader element -->
    <div id="loader" class="flex justify-center items-center mb-6 hidden">
        <div class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-gray-900"></div>
    </div>
    <div class="container mx-auto p-6">
        <h1 class="text-3xl font-bold mb-6">Product List</h1>
        <div id="productList" class="grid grid-cols-3 gap-6"></div>
    </div>
</body>

</html>
